@model DevelopersViewModel
@{
}
<h1>Developers</h1>
@foreach (var developer in Model.Developers)
{
    <p>@developer.Name - @developer.Age</p>
}
<form method="post" action="~/Developer/Add">
    <input type="text" name="@nameof(DeveloperViewModel.Name)" />
    <input type="number" name="@nameof(DeveloperViewModel.Age)" />
    <p><input type="submit"></p>
</form>