@model UserViewModel
@{
    ViewData["Title"] = "User";
}

<p>
    <strong>Name:</strong> <code>@Model.Name</code>
    <strong>Age:</strong> <code>@Model.Age</code>
</p>
<p>
    <a href="/User/Add">Edit</a>
</p>